@import url("./variables.css");

.navbar-wrapper {
    animation: navbar-shrink linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
}

@keyframes navbar-shrink {

    from {
        --navbar-height: 135px;
    }

    to {
        --navbar-height: 85px;
    }
}


.categories {
    animation: categories-hide linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
}

@keyframes categories-hide {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.large-search {
    animation: large-search-hide linear both;
    animation-timeline: scroll();
    animation-range: 0 200px;
}

@keyframes large-search-hide {

    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.compact-search {
    animation: compact-search-show linear both;
    animation-timeline: scroll();
    animation-range: 100px 250px;
}

@keyframes compact-search-show {

    from {
        opacity: 0;
        transform: translate(-50%, 20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}