@import url("./variables.css");


/* Navbar */

.navbar-wrapper {
    height: var(--navbar-height);
    transition: height 0.3s ease;
}


/* Main Navbar */

.navbar-main {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Logo */

.navbar-brand img {
    width: 155px;
}

.right-side img{
    width: 30px;
    height: 30px;
}
/* Categories */



.categories a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
}

.categories img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}


/* Right Side Buttons */

.navbar-main button {
    border: none;
    background-color: #f5f5f5;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.navbar-main button:hover {
    background-color: #d7d6d6;
}

.navbar-main button img {
    width: 25px;
    height: 25px;
}

.cursor {
    cursor: pointer;
}

/** To Stay */
.large-search div {
    width: 33%;
}

.large-search div {
    width: 34%;
}

.large-search-btn {
    width: 50px;
    height: 50px;
    right: 10px;
    background: #e41446;
}

.large-search-btn img {
    width: 28px;
    height: 28px;
}


/* Compact Search */

.compact-search {
    top: 20px;
    opacity: 0;
    cursor: pointer;
}

.compact-search button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: #e41446;
    cursor: pointer;
}


.hover-box:hover {
    background-color: #dee2e6;
}


.hover-box div {
    border-right: 2px solid #dee2e6;
}



.large-search .hover-box:hover div.position-absolute {
    border: none
}

.large-search:has(.hover-box:nth-child(2):hover) .hover-box:nth-child(1) div.position-absolute {
    border: none
}

.large-search:has(.hover-box:nth-child(3):hover) .hover-box:nth-child(2) div.position-absolute {
    border: none
}

